@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;800&display=swap');

$primary-color:orange;
$secondary-color:#666;
$light-color:#eee;
$white:#fff;
$black:#000;
$transparent-white:rgba(255,255,255,.85);

*{
    font-family:'Poppins', sans-serif;
    margin: 0;padding: 0;
    box-sizing: border-box;
    outline: none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
}
html{
    font-size: 50%;
    overflow-x:hidden;
    scroll-behavior: smooth;
    @media screen and (min-width:800px){
        font-size: 65%;
    }
}
li{
    list-style: none;
}
section{
    padding:5rem 6%;
    @media screen and(min-width:1440px) {
        padding:5rem 9%;
    }
}
h1{
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 5rem;
    color:$primary-color;
    padding-bottom: 2rem;
    span{
        text-transform: uppercase;
        color:$secondary-color;
    }
    @media screen and(min-width:1440px) {
        font-size: 10rem;
        line-height: 10rem;
    }
}
h2 {
    color: $black;
    font-size: 4rem;
    padding-bottom: 0.5rem;
    text-align: center;
    padding-bottom: 3rem;
}
h3 {
    color: $black;
    font-size: 3rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
}
h4{
    color: $secondary-color;
    font-size: 2rem;
    font-weight: 400;
    padding-bottom: 0.5rem;
}
h5{
    color: $black;
    font-size: 1.5rem;
    font-weight: 300;
    padding-bottom: 0.5rem;
}
p {
    font-size: 1.5rem;
    font-weight: 300;
    color: $black;
    padding: 1rem 0;
}
i{
    color: $primary-color;
    font-size: 3rem;
}
.bg-light-gray{
    background-color: $light-color;
}
.before-default{
    position: absolute;
    bottom: 1rem;
    right: -1rem;
    font-size: 0.6rem;
    color: $secondary-color;
}
.timeBar{
    position: relative;
    margin: .8rem 0;
    max-width: 25rem;
    min-width: 20rem;
    height: .2rem;
    background-color: $secondary-color;
    border-radius: .1rem;
    &:nth-child(4){
        &::before{
            @extend.before-default;
            content:'192 hours';
        }        
    }
    &:nth-child(6){
        div{
            width: 60%;
        }
        &::before{
            @extend.before-default;
            content:'358 hours';
        }     
    }
    &:nth-child(8){
        div{
            width: 90%;
        }
        &::before{
            @extend.before-default;
            content:'600 hours';
        }     
    }
    div{
        width: 40%;
        height: .4rem;
        background-color: $primary-color;
        border-radius: 0.2rem;
    }
}
a{
    text-decoration: none;
    display: inline-block;
  
}
.btn{
    padding: 1rem 2rem;
    font-size: 1.5rem;
    background-color:$white;
    color: $primary-color;
    &:hover{
        background-color:$primary-color;
        color:$white; 
    }
}
.flex-default-column{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
// .flex-default-row{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
// }
// ul{
//     margin-top: 2rem;
//     @extend.flex-default-column;
//     li{
//         @extend.flex-default-column;
//     }
// }

header{
    padding:1rem 9%;
    background-color: $white;
    position: fixed;
    top: 1rem;right: 0;left: 0;
    z-index: 999;
    width: 100%;
    .logo{
        font-size: 3rem;
        color: $secondary-color;
        font-weight: 800;
    }
    .nav-toggle{
        display: none;
    }
    .nav-toggle:checked ~ nav{
        // display: block;
        transform: scale(1,1);
        transition: transform 200ms ease-in-out;
        a{
            opacity: 1;
            transition: opacity 250ms ease-in-out 250ms;
        }
    }
    nav{
        padding-top: 1rem;
        position: absolute;
        text-align: center;
        top: 100%;
        right: 0;
        background:$transparent-white;
        width: 100%;
        transform: scale(1,0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
        ul{
            li{
                margin-bottom: 1rem;
                // margin-right: 9%;
                a{
                    display: inline-block;
                    width: 100%;
                    // padding: 1rem 2rem;
                    font-size: 1.5rem;
                    background-color:$white;
                    color: $secondary-color;
                    opacity:0;
                    transition: opacity 150ms ease-in-out;
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
        }
    }
    .nav-toggle-label{
        position: absolute;
        top: 0;
        right: 9%;
        // margin-right: 9%;
        height: 100%;
        display: flex;
        @extend.flex-default-column;
        justify-content: center;
        gap: .3rem;
        &:hover{
            span{
                background-color:$primary-color;
            }
        }
        span{
            display: block;
            background-color:$secondary-color;
            width:3rem;
            height: .4rem;
            border-radius: .4rem;
        }
       
    }
    @media screen and (min-width:800px){
        background-color:$white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        nav{
            all:unset;
            ul{
                display: flex;
                justify-content: space-around;
                align-items: center;
                li{
                    margin-right: 9%;
                    a{
                        opacity:1;
                    }
                }
            }
        }
        .nav-toggle-label{
            display: none;
        }
    }
}
#banner{
    margin-top: 5rem;
    height: 80vh;
    // height: min(30rem, 70rem);
    background-image: url("../images/banner_image.jpg");
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    @extend.flex-default-column;
    align-items: flex-start;
    @media screen and(min-width:1440px){
        height: 100vh;
    }
}
#about{
    ul{
        @extend.flex-default-column;
        li{
            @extend.flex-default-column;
            padding-bottom: 2rem;
        }
    }
    .intro{
        div{
            margin:2rem 0;
        }
    }
    @media screen and(min-width:800px) {
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
        .intro{
            div{
                display: grid;
                gap: 3rem;
                grid-template-columns: 1fr 2fr;
                h3{
                    text-align: right;
                }
            }
        }
    }
    @media screen and(min-width:1440px){
        ul{
            display: grid;
            margin: 3rem 0;
            grid-template-columns: repeat(4,1fr);
        }
        .intro{
            div{
                display: grid;
                gap: 3rem;
                grid-template-columns: 2fr 3fr;
                h3{
                    text-align: right;
                }
                p{
                    width: 60%;
                }
            }
        }
    }
}
#service{
    @extend.flex-default-column;
    p{
        text-align: center;
    }
    ul{
        width: 100%;
        margin-top: 2rem;
        li{
            @extend.flex-default-column; 
            align-items: center;
            width: 100%;
            >*{
                text-align: center;
            }
        }
    }
    @media screen and(min-width:800px) {
        ul{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    @media screen and(min-width:1440px){
        ul{
            display: grid;
            margin-top: 3rem;
            grid-template-columns: repeat(4,1fr);
        }
    }
}
#portfolio{
    @extend.flex-default-column;
   div{
    .content{
        p{
            padding: 0;
            line-height: 0;
            color: $secondary-color;
        }
    }
    img{
        // max-width: 100%;
        margin-bottom: 4rem;
    }
   }
   .portraits,
   .interior{
       display: flex;
       flex-direction: column-reverse;
    //    img{
    //        width: 300px;
    //    }
   }
   @media screen and(min-width:800px){
       >div{
           display: grid;
           gap: 10rem;
           grid-template-columns: 1fr 1fr;
           .content{
               display: flex;
               flex-direction: column;
               justify-content: center;
            //    align-items: flex-end;
           }
       }
        .art,
        .product{
            .content{
                position: relative;
                align-items:flex-end;
                &::after{
                    content: '->';
                    font-size: 3rem;
                    color: $primary-color;
                    position: absolute;
                    top: 45%;right: -5rem;
                }
            }
        }
        .portraits,
        .interior{
            display: grid;
            gap: 10rem;
            grid-template-columns: 1fr 1fr;
            .content{
                position: relative;
                align-items:flex-start;
                &::before{
                    content: '<-';
                    font-size: 3rem;
                    color: $primary-color;
                    position: absolute;
                    top: 45%;left: -5rem;
                }
            }
        }
        .portraits{
            position: relative;
            top:-15rem;
        }
        .product{
            position: relative;
            top:-30rem;
        }
        .interior{
            position: relative;
            top:-45rem;
        }
   }
   @media screen and(min-width:1440px){
       >div{
           img{
               width: 400px;
           }
       }
        .art{
            position: relative;
            left: 10rem;
        }
        .portraits{
            position: relative;
            top:-20rem;right:10rem;
        }
        .product{
            position: relative;
            top:-40rem;left: 10rem;
        }
        .interior{
            position: relative;
            top:-60rem;right:10rem;
        }
   }
}
#contact{
    .contact-container{
        .contact-info{
            div{
                display: flex;
                align-items: center;
                i{
                    padding-right: 1rem;
                    font-size: 2rem;
                }
            }
            // p{
            //     i{
            //         padding-right: 1.5rem;
            //         font-size: 2rem;
            //     }
            // }
            ul{
                margin: 2rem 0;
                display: flex;
                flex-direction: row;
                gap:2rem;
                justify-content: center;
                i{
                    color: $secondary-color;
                    &:hover{
                        color: $primary-color;
                    }
                }
            }
            iframe{
                margin-bottom: 3rem;
            }
        }
        .message{
            form{
                >*{
                    margin: .5rem 0;
                }
                >input,textarea{
                    width: 100%;
                    padding: .5rem 1rem;
                    border:.2rem solid $white;
                    &:hover{
                        border:.2rem solid $primary-color;
                    }
                }
                textarea{
                    height: 8rem;
                }
            }
        }
        @media screen and(min-width:800px){
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
            .contact-info{
                div{
                    p{
                      padding: .5rem 0;  
                    }
                }
                ul{
                    justify-content: flex-start;
                    margin-top: 1rem;
                }
                iframe{
                    width: 80%;
                }
            }
        }
    }
    @media screen and(min-width:800px) {
        margin-top: -45rem;
    }
    @media screen and(min-width:1440px) {
        margin-top: -60rem;
    }
}
footer{
    height: 5rem;
    width: 100%;
    text-align: center;
    line-height: 5rem;
}